<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><!-- set automatically, see soupault.conf --></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <a href="/"><h2>Quinn Dougherty</h2></a>
    </header>
    <main>
      <!-- your page content will be inserted here,
         see the default_content_selector option in soupault.conf -->
    </main>
    <footer>
      <p>quinn.dougherty.forall at gmail dot com</p>
      <ul>
        <li><a href="https://github.com/quinn-dougherty">GitHub</a></li>
        <li><a href="https://linkedin.com/in/quinn-dougherty">LinkedIn</a></li>
        <li>
          <a href="https://lesswrong.com/users/quinn-dougherty">LessWrong</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
